{% extends 'base.html.twig' %}

{% block title %}List of microposts {% endblock %}

{% block body %}


    <div class="container">
        <h1>Microposts</h1>
        <div class="row">

            <div class="col-6">

                {% for message in app.flashes('notice') %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}


              
                    <div class="text-right">
                        {% if app.user and is_granted('ROLE_USER') %}
                        <a class="btn btn-outline-success" href="{{ path('micro_post_add') }}">Add new</a>
                        {% endif %}
                    </div>
             

                <div>
                    {% for post in posts %}
                        {{ include('micro-post/post-list.html.twig', {'post': post}) }}
                    {% endfor %}
                </div>

            </div>


        </div>


    </div>


{% endblock %}