{% extends 'base.html.twig' %}
{% block title %} List of Blogs {% endblock %}

{% block body %}
    {% for id, post in posts %}
        <p>Blog ID: <a href="{{ path('blog_show', {'id': id}) }}" >{{ id }}</a></p>
        <h3>Post title: {{ post.title }}</h3>
        <div class="iBeenUsed">{{ post.text }}</div>
    {% endfor %}
{% endblock %}