{% extends 'base.html.twig' %}
{% block title %} List of Blogs {% endblock %}

{% block body %}
    {% for id, post in posts %}
        <p1>Blog ID: <a href="{{ path('blog_show', {'id': id}) }}" >{{ id }}</a></p1>
        <h3>Post title: {{ post.title }}</h3>
        <p>{{ post.text }}</p>
    {% endfor %}
{% endblock %}